@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --line-color: #e5e7eb;
  background-color: black;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@media screen and (max-width: 768px) {
  .center-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.example::-webkit-scrollbar {
  display: none;
}

.custom-clip {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.container-1 {
  perspective: 1000px;
}
